
.container {
  width: 40% !important ;
     margin: 50px auto; 
     background-color: #012727d7;
     border: none;
     padding: 30px;
     border-radius: 10px;
     box-sizing: border-box; 
 }
 
 
 h2 {
     text-align: center;
     color: white;
 }
 
 .form-group {
     display: flex;
     flex-direction: row;
     margin: 20px;
     width: auto;
 }
 
 .add{
     margin-left: 10px;
     background-color: transparent;
     color: white;
     border-radius: 5px;
     padding: 10px;
     width: 20%;
     font-weight: bold;
     cursor: pointer;
     border: none;
 }
 
 .list{
     margin-top: 30px;
 }
 li{
     background-color: black !important;
     margin-left: -12px;
     color: #fff !important;
     border:none !important;
     list-style: none;
     border-radius: 7px;
   margin-top: 5px;
   padding: 4px;
   font-size: 19px;
 }
 
 .list-items {
     display: flex;
   }
   
   .list-items .list-item-list {
     flex: 1;
   }
   
   .list-items .list-item-icons {
     padding-left: 5px;
     font-size: 25px;
     cursor: pointer;
   }
   
   #complete {
     color: green;
   }
   
   #edit {
     color: #007bff;
   }
   
   #delete {
     color: rgba(255, 0, 0, 0.735);
   }
   
 #list-items{
   text-decoration: line-through;
   opacity: 0.3;
 }